#menu-sup {
    min-height: 8vh;
}

#brand-logo {
/*
    display: none;
    
    width: 90px;
    height: 34px;

    width: 110px;
    height: 44px;
    */
    
    width: 140px;
    height: 56px;
}

.mobile-menu-item:hover {
    background-color: #fcfcfc;
}

#profile-link {
    border-radius: 5px;
    text-decoration: none;
}

#profile-link:hover {
    transition: 1s;
    background-color: #fcfcfC;
}

#profile-icon {
    color: #CCC;
}